#user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}
